.titleFrame {
    text-align: center;
    background-color: #bebebe;
    padding: 30px 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

body {
    background-color: #ffb3b3; 
    margin: 0; 
    padding: 0; 
}

.page {
    background-color: #fff0db; 
    border: 2px solid black; 
    width: 90%; 
    max-width: 1200px; 
    padding: 10px; 
    margin: 20px auto; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
}

p {
    line-height: 1.5; 
    font-size: 17px;
    padding: 15px;   
    margin: 0 auto; 
    border: 2px ;

}

ul {
    line-height: 1.5; 
    font-size: 17px;
    margin: 0 auto; 

}

.worldmapFrame {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-right: 10%;
}
